[Desktop Entry]
Name=Xonotic Touch
Exec=start.sh
Icon=io.github.dixonSolutions.XonoticTouch
Terminal=false
Type=Application
Categories=Game;ActionGame;
StartupWMClass=xonotic
